<h1 mat-dialog-title style='text-align: center;'>რეგისტრაცია</h1>
<!--<h2 style='color:#ad0a0a;text-align: center;'>{{errorMessage}}</h2>-->
<div mat-dialog-content>
  <mat-grid-list cols="1" rowHeight="80px">
    <form [formGroup]='updateFormGroup'>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>ქყვეყანა</mat-label>
          <mat-select formControlName="countryId" name="countryId">
            <mat-option *ngFor="let country of countries" [value]="country.id">{{country.countryName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>ჯობის გაშვების დრო</mat-label>
          <input matInput formControlName='jobTriggerTime' autocomplete="off" maxlength="2" oninput="this.value=this.value.replace(/[^1-60]/g,'');">
        </mat-form-field>
      </mat-grid-tile>

    </form>
  </mat-grid-list>
</div>
<div mat-dialog-actions class="DialogButtonsWrapper">
  <button mat-flat-button color='primary' (click)="applyData()" [loading]="buttonLoading">დასტური
  </button>
  <button mat-flat-button color='warn' (click)="closeDialog()">დახურვა</button>
</div>
