<h1 mat-dialog-title style='text-align: center;'>რეგისტრაცია</h1>
<!--<h2 style='color:#ad0a0a;text-align: center;'>{{errorMessage}}</h2>-->
<div mat-dialog-content>
  <mat-grid-list cols="1" rowHeight="80px">
    <form [formGroup]='registerFormGroup'>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>მომხმარებელი</mat-label>
          <input matInput formControlName="username" autocomplete="off" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>პაროლი</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="off" required>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>ქყვეყანა</mat-label>
          <input matInput formControlName='countryId' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="add-user-form-item">
          <mat-label>ჯობის გაშვების დრო</mat-label>
          <input matInput formControlName='jobTriggerTime' autocomplete="off" appNumbersOnly max="60" min="1">
        </mat-form-field>
      </mat-grid-tile>



    </form>
  </mat-grid-list>
</div>
<div mat-dialog-actions class="DialogButtonsWrapper">
  <button mat-flat-button color='primary' (click)="applyData()" [loading]="buttonLoading">დასტური
  </button>
  <button mat-flat-button color='warn' (click)="closeDialog()">დახურვა</button>
</div>
